/*
	Theme Name: Dan
	Theme UR: http://danielagg.com
	Author: Daniel Agg
	Author URI: http://danielagg.com
	Description: Personal theme for http://danielagg.com
	Version: 0.1;
*/


/*
	html5doctor.com Reset Stylesheet
	v1.6.1
	Last Updated: 2010-09-17
	Author: Richard Clark - http://richclarkdesign.com
	Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



span.leftie {
    text-align:left!important;
}





/* Personalization */

body {
	background-color:#f7f7f7;
    font-family: 'Open Sans', sans-serif;
}

a:link, a:visited {
    color:#2a2f35;
    text-decoration:none;
}

::selection {
    background:#fefecf;
}
::-moz-selection {
    background:#fefecf;
}

div.cleartop {
    width:100%;
    height:30px;
    background-color:#f7f7f7;
    padding:0;
    margin:0;
}




.more-link {
    border:none!important;
}


span.custom-more {
    display: inline-block;
    padding:8px;
    margin-top:14px;
    font-size:13px;
    border-bottom:1px dotted #cecece;
    color:#2a2f35;
 }

 span.custom-more:hover {
    background-color:#f7f7f7;
 }



/* Daniel Agg, Business IT Student */
a.logo {
    color:#2a2f35;
    text-transform:uppercase;
    letter-spacing:-1px;
    font-weight:700;
    font-size:52px;
    display:block;
    margin-top:13px;
}

h2.site-desc {
    font-size:12px;
    width:auto;
    color:#a7a7a7;
    text-transform:uppercase;
    font-weight:400;
    padding:10px 0px;
    margin-left:4px;
    margin-bottom:-13px;
    display:block;
}

h2.site-desc span {
    padding-bottom:6px;
    border-bottom:1px dotted #cecece;
}






/* Social media menu */
div.soc-media {
    list-style-type:none;
    max-width:950px;
    margin:0 auto;
    padding:20px;
    overflow:hidden;
    font-size:10px;
    font-weight:700;
}

div.soc-media ul {
    float:right;
    margin-right:-16px;
}

div.soc-media li {
    display:inline;
    padding-left:40px;
    float:left;
}

div.soc-media li a {
    display:block;
}

div.soc-media li a:hover {
    color:#a7a7a7;
}



/* Main wrapper */
div.container {
    max-width:950px;
    margin:0 auto;
    padding:50px;
    padding-top:14px;
    background-color:#fefefe;
    margin-bottom:40px;
}

p.nothing-found {
    padding:20px;
    margin-top:30px;
    font-size:20px;
    letter-spacing:-1px;
    text-align:center;
    padding-bottom:10px!important;
}


/* Navigation bar */
nav.site-nav {
    float:right;
    font-size:15px;
    text-transform:uppercase;
    margin-top:-35px;
}

nav.site-nav li {
    list-style:none;
    float:left;
    margin-left:20px;
}

nav.site-nav li a {
    padding:10px;
}

nav.site-nav li a:hover {
    border-bottom:1px dotted #cecece;
    background-color:#f7f7f7;
}

.current-menu-item {
    font-weight:700;
    padding-bottom:12px;
    border-bottom:1px dotted #cecece;
}




/* Each posts */
article.post {
    margin:0 auto;
    margin-bottom:75px;
    padding-bottom:65px;
    border-bottom:1px solid #e6e6e6;
    width:85%;
    text-align:center;
    line-height:30px;
    word-spacing:0.8px;
    letter-spacing:0.45px;
    font-size:16px;
    color:#626772;
}

article.post:first-of-type {
    margin-top:60px;
}

article.post:last-of-type {
    margin-bottom:60px;
    border-bottom:none;
    padding-bottom:0px;
}

article.post h1 {
    font-size:35px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    letter-spacing:-1px;
    padding-bottom:10px;
    line-height:40px;
    color:#2a2f35;
}

article.post h1.unique-title {
    font-size:52px;
    line-height:66px;
    margin-bottom:5px;
}

article.post h1 a {
    padding:4px;
    border-bottom:none!important;
    color:#2a2f35;
}

article.post h1 a:hover {
    color:#101214;
    background-color:#f7f7f7;
}

article.post p.post-info, article.post p.post-info-page {
    font-size:14px;
    letter-spacing:-0.75px;
    color:#c2c2c2;
    margin-bottom:20px;
    padding-bottom:7px;
    margin-top:-8px;
}

article.post p.post-info-page {
    margin-bottom:30px;
}

article.post p.post-info span.post-category, article.post p.post-info-page span.post-category {
    border-bottom:none!important;
    padding-bottom:5px;
}

article.post p.post-info span.post-category a, article.post p.post-info-page span.post-category a {
    color:#2a2f35;
}
article.post p.post-info span.post-category a:hover, article.post p.post-info-page span.post-category a:hover {
    color:#101214;
    background-color:#f7f7f7;
}


article.post h2, h3, h4, h5 {
    display:block;
    font-size:38px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    letter-spacing:-1px;
    padding:40px!important;
    line-height:40px;
    color:#2a2f35;
}


article.post h3 {
    font-size:33px;
}

article.post h4 {
    font-size:28px;
}

article.post h5 {
    font-size:24px;
}

article.post ul, article.post ol {
    text-align:left;
    margin:0 auto;
    width:90%;
}

article.post a {
    border-bottom:1px dotted #cfcfcf;
    padding-bottom:2px;
    color:#00ace6;
}

article.post a:hover {
    color:#007399;
}










/* Comments */
.comments-header {
    font-size:35px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    letter-spacing:-1px;
    padding-top:20px;
    padding-left:17px;
    line-height:40px;
    color:#2a2f35;
}

.comment-list {
    margin-left:20px;
    width:90%;
    margin:0 auto;
    line-height:27px;
}

.comment-list li {
    list-style-type:none;
    padding:30px;
    margin-bottom:-10px;
}


.comment_poster_name {
    font-size:20px;
    font-weight:700;
}

.reply a {
    padding-bottom:3px;
    padding-left:30px;
    border-left:1px dotted #ccc;
    color:#00ace6;
    font-size:13px;
    margin-bottom:3px;
}

.reply a:hover, .edit-comment a:hover {
    color:#007399;
}

.edit-comment {
    margin-top:-10px;
    font-size:12px;
}

.edit-comment a {
    color:#00ace6;
}

.commentmetadata {
    font-size:11px;
    padding-left:1px;
    color:#979797;
    margin-bottom:-8px;
}

.comment-text {
    padding:3px 0 0 30px;
    margin-bottom:10px;
    color:#878787;
    border-left:1px dotted #ccc;
    margin-top:10px;
}


#commentform {
    padding:30px;
    padding-top:0px;
}


textarea, input {
    border:1px solid #aaa;
}

textarea:focus, input:focus {
    outline: 0;
    box-shadow: none !important;
    border:1px solid black!important;
}

label {
    font-weight:700;
    display:block;
    font-size:14px;
}

label[for=comment]{
    margin-top:18px;
}

#comment, #url, #email, #author {
    max-width:100%;
    width:100%;
    display:block;
    padding:10px;
    margin:10px;
    color:#878787;
}

#submit {
    padding:20px;
    font-size:27px;
    border:none;
    border-left:1px dotted #ccc;
    background-color:transparent;
    cursor:pointer;
    color:#00ace6;
    margin-top:20px;
    margin-bottom:-30px;
}

#submit:hover {
    color:#2a2f35;
}

.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment {
    padding:10px 0 10px 0;
}






/* Footer */
footer {
    max-width:950px;
    margin:0 auto;
    margin-top:-35px;
    border-top:1px solid #f2f2f2;
    padding:30px;
    text-align:right;
    font-size:14px;
    letter-spacing:-0.75px;
}
